
<div id="pathway-widget"></div>


    <script src="http://intermine.github.com/intermine-widget-client/js/widgets.js"></script>

    <script type="text/javascript">
console.log('this is a test');
    (function() {
        /* InterMine root URL. */
        var mine = "http://test.metabolicmine.org/test";

        /* New Widgets client. */
        var widgets = new Widgets(mine + "/service/");

        /* Give us Pathway Enrichment Widget. */
        widgets.enrichment('prot_dom_enrichment_for_gene', 'demo-genes', '#pathway-widget');


    })();
    </script>
