
<div id="pathway-widget"></div>

    <script type="text/javascript">
    (function() {
        WB.getPlugin("intermine_widgets", function(){

        /* InterMine root URL. */
        var mine = "http://test.metabolicmine.org/test";

        /* New Widgets client. */
        var widgets = new Widgets(mine + "/service/");

        /* Give us Pathway Enrichment Widget. */
        widgets.enrichment('prot_dom_enrichment_for_gene', 'demo-genes', '#pathway-widget');
        });
    })();
    </script>
